<%- include ../tamplates/header.ejs %>
  <div class="container">
    <br>
    <% if(alert.message != '') { %>
    <div class="alert alert-<%= alert.status %>">
      <%= alert.message %>
    </div>
    <% } %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Data Jurusan</li>
    </ol>
    <!-- <h3>Data Mahasiswa</h3> -->
    <a href="/jurusan/create" class="btn btn-primary">Tambah Jurusan</a>
    <br>
    <br>
    <div class="table-responsive-md">
        <table class="table">
            <thead class="table-dark">
                <th>No</th>
                <th>Kode Jurusan</th>
                <th>Nama Jurusan</th>
                <th colspan="2" style="text-align:center;">Aksi</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < jurusans.length; i++) { %>
                    <tr>
                        <td><%= jurusans[i].id %></td>
                        <td><%= jurusans[i].kode %></td>
                        <td><%= jurusans[i].nama %></td>
                        <td>
                            <a href="/jurusan/edit/<%= jurusans[i].id %>" class="btn btn-success">Edit</a>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger btn-delete" data-id="<%= jurusans[i].id %>"> Delete </button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% var paginationFor = "jurusan" %>
    <%- include ../tamplates/pagination.ejs %>

    <%- include ../tamplates/footer.ejs %>
<!-- delete data mahasiswa link ke router -->
<script type="text/javascript">
    $('.btn-delete').click(function(){
      let id = $(this).attr('data-id');
      swal({
        title: "Yakin Ingin Menghapus Data Jurusan ini?",
        text: "Data yang dihapus, tidak bisa kembali lagi.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          window.location.assign(`/jurusan/delete/${id}`); // delete data mahasiswa link ke router
        }
      });
    });
</script>